<app-todo-list [todos]="todos"
                      [title]="'Todo List'"
                      [isArchived]="false"
                      (archiveTodo)="archiveTodo($event)"
                      (unarchiveTodo)="unarchiveTodo($event)"
                      (removeTodo)="removeTodo($event)"
                      (toggleTodo)="toggleTodo($event)"
  ></app-todo-list>

  <form (submit)="createTodo(todo)">
    <input type="text"
           name="todoText"
           [(ngModel)]="todoText"
           placeholder="Your todo here!">
    <input type="submit"
           value="Add">
  </form>

  <app-todo-list [todos]="todos"
                      [title]="'Archived List'"
                      [isArchived]="true"
                      (archiveTodo)="archiveTodo($event)"
                      (unarchiveTodo)="unarchiveTodo($event)"
                      (removeTodo)="removeTodo($event)"
  ></app-todo-list>
