@import "../../../../../assets/scss/colors";

.content {
  margin-bottom: 2em;
}

h3 {
  padding: 1.2em 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  background-color: $e-grey;
  color: $dark-blue;
}

.todosContainer {
  display: block;
  height: 15em;
  border-bottom: 1px solid $d-grey;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2em 0;
  height: 5em;

  input {
    outline: none;

    &[type=text] {
      margin: 0 0.5em;
      padding: 0.5em;
      flex: 1;
      border: none;
      border-bottom: 1px inset $d-grey;
      transition: border-bottom-color 250ms ease-in-out,
      border-bottom-width 250ms ease-in-out;
    }

    &[type=text]:hover,
    &[type=text]:focus,
    &[type=text]:active {
      border-bottom-color: $a-grey;
      border-bottom-width: 2px;
    }

    &[type=submit] {
      margin: 0 0.5em;
      padding: 0.6em;
      background-color: $e-grey;
      border: none;
      cursor: pointer;
      transition: background-color 250ms ease-in-out;
    }

    &[type=submit]:hover,
    &[type=submit]:focus,
    &[type=submit]:active {
      background-color: $d-grey;
    }
  }
}
