<div class="content">
  <h3>{{title}}</h3>

  <div class="todosContainer">
    <article *ngFor="let todo of todos | archived: isArchived;trackBy: trackByFn"
             [title]="todo.done ? 'undo' : 'do'"
             [ngClass]="{'done': todo.done, 'archived': todo.archived}"
             (click)="onToggleTodo(todo)">
      <p>{{ todo.text }}</p>
      <a class="archive"
         *ngIf="!todo.archived"
         (click)="onArchiveTodo(todo)">archive</a>
      <a class="remove"
         *ngIf="!todo.archived"
         (click)="onRemoveTodo(todo)">remove</a>
      <a class="unarchive"
         *ngIf="todo.archived"
         (click)="onUnarchiveTodo(todo)">unarchive</a>
    </article>
  </div>
</div>
