@import "../../../../../assets/scss/colors";

article {
  display: flex;
  align-items: flex-start;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid $e-grey;
  transition: border-color 250ms ease-in-out,
  box-shadow 250ms ease-in-out;

  &.done {
    opacity: 0.5;
  }

  &:hover {
    border-color: $c-grey;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }

  &.done p {
    text-decoration: line-through;
  }

  p {
    flex: 1;
    padding: 0.2em;
    cursor: default;
  }

  &:not(.archived) p {
    cursor: pointer;
  }

  a {
    margin-left: 0.5em;
    padding: 0.2em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: $d-grey;
    }
  }
}
