@import "../assets/scss/colors";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  background-color: $dark-blue;
  color: $white;

  h1 {
    padding: 0 1em;
    font-size: 2em;
  }
}
